{% extends "base.html" %}
{% load field_name %}
{% load getDashForReturn %}

{% block title %}Auction Shopping Bot | Keeper {{ object.cTitle }}{% endblock %}

{% block content %}

    <h2>{{ object.cTitle }} -- Details</h2>

    <table RULES=ROWS CELLPADDING=10>
    <TR>
        <TD width = 300 valign=top>{% field_name model 'cDescription' %}</TD>
        <TD>&nbsp;&nbsp;&nbsp;</TD>
        <TD>{{object.cDescription}}</TD>
    </TR>
    <TR>
        <TD width = 300>{% field_name model 'iItemNumb' %}</TD>
        <TD>&nbsp;&nbsp;&nbsp;</TD>
        <td><a href="https://www.ebay.com/itm/{{object.iItemNumb}}/">
                            {{ object.iItemNumb }}</a></td>
    </TR>
    <TR>
        <TD width = 300>{% field_name model 'tTimeBeg' %}</TD>
        <TD>&nbsp;&nbsp;&nbsp;</TD>
        <TD>{{object.tTimeBeg}}</TD>
    </TR>
    <TR>
        <TD width = 300>{% field_name model 'tTimeEnd' %}</TD>
        <TD>&nbsp;&nbsp;&nbsp;</TD>
        <TD>{{object.tTimeEnd}}</TD>
    </TR>
    <TR>
        <TD width = 300>{% field_name model 'cListingType' %}</TD>
        <TD>&nbsp;&nbsp;&nbsp;</TD>
        <TD>{{object.cListingType}}</TD>
    </TR>
    <TR>
        <TD width = 300>{% field_name model 'cLocation' %}</TD>
        <TD>&nbsp;&nbsp;&nbsp;</TD>
        <TD>{{object.cLocation}}</TD>
    </TR>
    <TR>
        <TD width = 300>{% field_name model 'cPaymentMethods' %}</TD>
        <TD>&nbsp;&nbsp;&nbsp;</TD>
        <TD>{{object.cPaymentMethods}}</TD>
    </TR>
    <TR>
        <TD width = 300>{% field_name model 'cPostalCode' %}</TD>
        <TD>&nbsp;&nbsp;&nbsp;</TD>
        <TD>{{object.cPostalCode}}</TD>
    </TR>
    <TR>
        <TD width = 300>{% field_name model 'cSellerID' %}</TD>
        <TD>&nbsp;&nbsp;&nbsp;</TD>
        <TD>{{object.cSellerID}}</TD>
    </TR>
    <TR>
        <TD width = 300>{% field_name model 'iFeedbackScore' %}</TD>
        <TD>&nbsp;&nbsp;&nbsp;</TD>
        <TD>{{object.iFeedbackScore}}</TD>
    </TR>
    <TR>
        <TD width = 300>{% field_name model 'cFeedbackPercent' %}</TD>
        <TD>&nbsp;&nbsp;&nbsp;</TD>
        <TD>{{object.cFeedbackPercent}}</TD>
    </TR>
    <TR>
        <TD width = 300>{% field_name model 'iBidCount' %}</TD>
        <TD>&nbsp;&nbsp;&nbsp;</TD>
        <TD>{{object.iBidCount}}</TD>
    </TR>
    <TR>
        <TD width = 300>{% field_name model 'dConvertPrice' %}</TD>
        <TD>&nbsp;&nbsp;&nbsp;</TD>
        <TD>{{object.dConvertPrice}}</TD>
    </TR>
    <TR>
        <TD width = 300>{% field_name model 'cConvertCurrency' %}</TD>
        <TD>&nbsp;&nbsp;&nbsp;</TD>
        <TD>{{object.cConvertCurrency}}</TD>
    </TR>
    <TR>
        <TD width = 300>{% field_name model 'lLocalCurrency' %}</TD>
        <TD>&nbsp;&nbsp;&nbsp;</TD>
        <TD>{{object.lLocalCurrency}}</TD>
    </TR>
    <TR>
        <TD width = 300>{% field_name model 'cHighBidder' %}</TD>
        <TD>&nbsp;&nbsp;&nbsp;</TD>
        <TD>{{object.cHighBidder|default_if_none:"no bidders"}}</TD>
    </TR>
    <TR>
        <TD width = 300>{% field_name model 'cListingStatus' %}</TD>
        <TD>&nbsp;&nbsp;&nbsp;</TD>
        <TD>{{object.cListingStatus}}</TD>
    </TR>
    <TR>
        <TD width = 300>{% field_name model 'cShipToLocations' %}</TD>
        <TD>&nbsp;&nbsp;&nbsp;</TD>
        <TD>{{object.cShipToLocations}}</TD>
    </TR>
    <TR>
        <TD width = 300>{% field_name model 'cCategoryNames' %}</TD>
        <TD>&nbsp;&nbsp;&nbsp;</TD>
        <TD>{{object.cCategoryNames}}</TD>
    </TR>
    <TR>
        <TD width = 300>{% field_name model 'cCountry' %}</TD>
        <TD>&nbsp;&nbsp;&nbsp;</TD>
        <TD>{{object.cCountry}}</TD>
    </TR>
    <TR>
        <TD width = 300>{% field_name model 'cBidCurrency' %}</TD>
        <TD>&nbsp;&nbsp;&nbsp;</TD>
        <TD>{{object.cBidCurrency}}</TD>
    </TR>
    <TR>
        <TD width = 300>{% field_name model 'cCondition' %}</TD>
        <TD>&nbsp;&nbsp;&nbsp;</TD>
        <TD>{{object.cCondition|default_if_none:"condition not given"}}</TD>
    </TR>
    <TR>
        <TD width = 300>{% field_name model 'tCreate' %}</TD>
        <TD>&nbsp;&nbsp;&nbsp;</TD>
        <TD>{{object.tCreate}}</TD>
    </TR>
    <TR>
        <TD width = 300>{% field_name model 'tModify' %}</TD>
        <TD>&nbsp;&nbsp;&nbsp;</TD>
        <TD>{{object.tModify|default_if_none:"not yet"}}</TD>
    </TR>
    <TR>
        <TD width = 300>{% field_name model 'tGotPictures' %}</TD>
        <TD>&nbsp;&nbsp;&nbsp;</TD>
        <TD>{{object.tGotPictures|default_if_none:"not yet"}}</TD>
    </TR>
    <TR>
        <TD width = 300>{% field_name model 'iGotPictures' %}</TD>
        <TD>&nbsp;&nbsp;&nbsp;</TD>
        <TD>{{object.iGotPictures|default_if_none:"zero"}}</TD>
    </TR>

    </table>

    <p>


{% endblock %}
