<div style="margin-left:20px;margin-top:20px">
  {% if keepers_list %}
      <h4>{{ sHowManyKeepers }} {{ object.cTitle }} Keepers</h4>
      <div class="basic">
          {% include "./index_under_detail_trash_button.html" %}
      </div>
      <table>
      <tr>
      <th><i class="fas fa-trash-alt"></i></th>
      <td>Item Number</td>
      <td>Title</td>
      <td style="text-align:right">Price</td>
      <td style="text-align:right">Bid Count</td>
      <td style="text-align:right">Status</td>
      <td style="text-align:right">End Date</td>
      </tr>
      {% for keeper in keepers_list %}
          <tr>
          <TD VALIGN=TOP><input class="checkbox" name="bTrashThis" type="checkbox" value={{ keeper.iItemNumb }}></td>
          <td VALIGN=TOP>
            <a href="https://www.ebay.com/itm/{{keeper.iItemNumb}}/">
            {{ keeper.iItemNumb }}</a></td>
          <td VALIGN=TOP><a href="{{ keeper.get_absolute_url }}">{{ keeper.cTitle }}</a></td>
          <td style="text-align:right" VALIGN=TOP>{{ keeper.dConvertPrice }}</td>
          <td style="text-align:right" VALIGN=TOP>{{ keeper.iBidCount }}</td>
          <td style="text-align:right" VALIGN=TOP>{{ keeper.cListingStatus }}</td>
          <td VALIGN=TOP>
            <span style="white-space: nowrap;">{{ keeper.tTimeEnd | date:'Y-m-d' }}</span>
          </td>
          </tr>
      {% endfor %}
      </table>
      <br>
      <div class="basic">
          {% include "./index_under_detail_trash_button.html" %}
      </div>

  {% else %}
      No Keepers for {{ object.cTitle }} yet!
  {% endif %}
</div>
<p>
<br>
