{% extends "base.html" %}
{% load static i18n %}
{% load getNbsp %}
{% block title %}Auction Shopping Bot Keepers{% endblock %}


{% block content %}
  <h2>Keepers</h2>

    {% if object_list %}
        {# the pagination section #}
        {% if is_paginated %}
            <hr>
            <div class="basic">
                {% include "../paginate.html" %}
            </div>
        {% endif %}
        <div class="container">
        <div class="list-group">
        <table class="bottomBorder">
        <tr>
        <th ALIGN=LEFT>ebay item</th>
        </tr>
        {% for keeper in object_list %}
            <TR>
                <TD>{% field_name model 'iItemNumb' %}</TD>
                <TD VALIGN=TOP>{{ keeper.iItemNumb }}</TD>
            </TR>
        {% endfor %}
        </table>
        </div>
        </div>
        {# the pagination section #}
        {% if is_paginated %}
            <hr>
            <div class="basic">
                {% include "../paginate.html" %}
            </div>
        {% endif %}
    {% else %} <!-- brand_list -->
        <p>No keepers are available.</p>
    {% endif %} <!-- brand_list -->

{% endblock content %}
