{% extends "base.html" %}
{% load static i18n %}
{% block title %}Auction Shopping Bot Keepers{% endblock %}
{% load field_name %}

{% block content %}
  <h2>Keepers</h2>

    {% if object_list %}
         <!-- keeper_list -->
        {# the pagination section #}
        {% if is_paginated %}
            <hr>
            <div class="basic">
                {% include "../paginate.html" %}
            </div>
        {% endif %}
        <div class="container">
        <div class="list-group">
        <table class="bottomBorder">
        <tr>
          <th>{% field_name model 'tTimeEnd'  %}</th>
          <th>{% field_name model 'cTitle'    %}</th>
          <th>{% field_name model 'iItemNumb' %}</th>
        </tr>
        {% for keeper in object_list %}
            <TR>
                <TD style="vertical-align:top">{{ keeper.tTimeEnd|date:'Y-m-d H:i:s' }}</TD>
                <td><a href="{{ keeper.get_absolute_url }}">{{ keeper.cTitle }}</a></td>
                <TD style="vertical-align:top"><a href="https://www.ebay.com/itm/{{keeper.iItemNumb}}/">{{ keeper.iItemNumb }}</TD>
            </TR>
        {% endfor %}
        </table>
        </div>
        </div>
        {# the pagination section #}
        {% if is_paginated %}
            <hr>
            <div class="basic">
                {% include "../paginate.html" %}
            </div>
        {% endif %}
    {% else %}
         <!-- this text is tested in keepers.test_views! -->
        <p>No keepers are available.</p>
    {% endif %}

{% endblock content %}
