<table>
<TR>
    <td>
        <form action='{% url "brands:edit" pk=brand.id %}'>
            <input class='btn btn-primary btn-blue' type="submit" value=" edit " />
        </form>
    </td>
    <td>
        <form action='{% url "brands:delete" pk=brand.id %}'>
            <input class='btn btn-primary btn-blue' type="submit" value=" delete {{ object }} brand" />
        </form>
    </td>
    <td>
        <form action='{% url "brands:add" %}'>
            <input class='btn btn-primary btn-blue' type="submit" value=" add a new brand " />
        </form>
    </td>
    <td>
        <form action='{% url "brands:index" %}'>
            <input class='btn btn-primary btn-blue' type="submit" value=" go to brand index " />
        </form>
    </td>
</TR>
</table>
