<table>
    <tr>
        <td>
            <form action="{% url "brands:add" %}">
                <input type="submit" value=" add a brand " />
            </form>
        </td>
        <td>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </td>
        <td ALIGN = RIGHT>
            <form action = "" method = "GET" >
                <input type = "text" name = "q" />
                <button type = "submit" > search </button>
            </form>
        </td>
    <tr>
</table>
