{% if all_categories_list %}

    <h3>Categories for {{ brand }}</h3>

    <small>
    Checking the appropriate categories for {{ brand }} is important
    <b>IF</b> you have any generic models -- model numbers/names
    that are shared by more than one brand.<br>
    If {{ brand }} has model numbers/names that are shared by other brands,
    for the robot to be accurate, you <b>must</b> click on the categories
    below for the generic models.</small>
    <p/>
    <table>
    <tr>
        <th>include?</th><th>&nbsp;&nbsp;&nbsp;</th><th>Category</th>
    </tr>
    
    {% for category in all_categories_list %}
        <tr>
            <td><input class="checkbox" name="bIncluded" type="checkbox"
                value={{ category.id }}
                {% if category.bIncluded %}checked{% endif %}></td>
            <td>&nbsp;&nbsp;&nbsp;</td>
            <td>{{ category.cTitle }}</td>
            <td><input name="IncludedSet" type="checkbox" style="display:none;"
                class="HIDDEN" value={{ category.id }}
                {% if category.bIncluded %}checked{% endif %}></td>
        </tr>
    {% endfor %}

    </table>
{% endif %}
