{% extends "base.html" %}
{% load field_name %}
{% load getDashForReturn %}
{% load getLineBreakForReturn %}

{% block title %}Auction Shopping Bot | Brand {{ object.cTitle }}{% endblock %}

{% block content %}
    <h1>{{ brand }} Brand Details</h1>

    <!-- Action buttons -->
    <div class="basic">
        {% include "./actions.html" %}
    </div>
    <!-- End Action buttons -->
    <hr>

    <table>
    <TR VALIGN=TOP>
        <TD>{% field_name model 'cTitle' %}</TD>
        <TD>{{object.cTitle}}</TD>
    </TR>
    <TR VALIGN=TOP>
        <TD>{% field_name model 'bWanted' %}</TD>
        <TD>{{ object.bWanted|yesno:"Yes,No" }}</TD>
    </TR>
    <TR VALIGN=TOP>
        <TD>{% field_name model 'bAllOfInterest' %}</TD>
        <TD>{{ object.bAllOfInterest|yesno:"Yes,No" }}</TD>
    </TR>
    <TR VALIGN=TOP>
        <TD>{% field_name model 'cLookFor' %}</TD>
        <TD>{{object.cLookFor|getDashForReturn}}</TD>
    </TR>
    <TR VALIGN=TOP>
        <TD>{% field_name model 'cKeyWords' %}</TD>
        <TD>{{object.cKeyWords|getDashForReturn}}</TD>
    </TR>
    <TR VALIGN=TOP>
        <TD>{% field_name model 'iStars' %}</TD>
        <TD>{{object.iStars}}</TD>
    </TR>
    <TR VALIGN=TOP>
        <TD>{% field_name model 'cComment' %}</TD>
        <TD>{{ object.cComment | getLineBreakForReturn }}</TD>
    </TR>
    <TR VALIGN=TOP>
        <TD>{% field_name model 'cNationality' %}</TD>
        <TD>{{ object.cNationality.name }}</TD>
    </TR>
    <TR VALIGN=TOP>
        <TD>{% field_name model 'cExcludeIf' %}</TD>
        <TD>{{object.cExcludeIf|getDashForReturn}}</TD>
    </TR>
    <TR VALIGN=TOP>
        <TD>{% field_name model 'iUser' %}</TD>
        <TD>{{object.iUser}}</TD>
    </TR>
    <TR VALIGN=TOP>
        <TD>{% field_name model 'tCreate' %}</TD>
        <TD>{{object.tCreate|date:"d M Y  P"}}</TD>
    </TR>
    <TR VALIGN=TOP>
        <TD>{% field_name model 'tModify' %}</TD>
        <TD>{{object.tModify|date:"d M Y  P"}}</TD>
    </TR>
    </table>

    <p>

    <!-- Action buttons -->
    <br>

    <div class="basic">
        {% include "./actions.html" %}
    </div>
    <br>
    <hr>
    <!-- End Action buttons -->

    <div style="margin-left:20px;margin-top:20px">
    {% if categories_list %}
        <h4>Categories for {{ brand }}</h4>
        <UL>
        {% for category in categories_list%}
            <LI><a href="{{ category.get_absolute_url }}">
                {{ category }}</a></LI>
        {% endfor %}
        </UL>
    {% endif %}
    It helps to indicate which categories apply to {{ brand }} (full explanation on edit page).
    </div>

    <hr>

    <div style="margin-left:20px;margin-top:20px">
    {% if models_list %}
        <h4>{{ brand }} Models</h4>
        <table>
        <tr>
            <td>Name/#</td>
            <td style="text-align:right"><i class="far fa-star"></i></td>
            <td>Category</td>
        </tr>
        {% for model, stars, category in models_list%}
            <tr>
                <td><a href="{{ model.get_absolute_url }}">
                    {{ model }}</a></td>
                <td style="text-align:right">{{stars}}</td>
                <td>{{category}}</td>
            </tr>
        {% endfor %}
        </table>
    {% endif %}
    </div>

    <hr>

    <form action="" method="post">
    {% csrf_token %}

      <!-- Keepers List -->
      <div class="basic">
          {% include "../keepers/index_under_parent.html" %}
      </div>

      <hr>

      <!-- Finders List -->
      <div class="basic">
          {% include "../finders/index_under_parent.html" %}
      </div>

    </form>

{% endblock %}
