{% extends "base.html" %}
{% load field_name %}

{% block content %}
    <h1>{{ brand }} Details</h1>
    <p>
    <p>Reminder! After a successful edit, you may need do do 
    a hard refresh &mdash; Ctrl-F5 &mdash; to see your changes!</p>

    <table RULES=ROWS CELLPADDING=10>
    <TR>
        <TD width = 300>{% field_name model 'cTitle' %}</TD> 
        <TD>&nbsp;&nbsp;&nbsp;</TD>
        <TD>{{object.cTitle}}</TD>
    </TR>
    <TR>
        <TD>{% field_name model 'bWanted' %}</TD>
        <TD>&nbsp;&nbsp;&nbsp;</TD>
        <TD VALIGN=TOP>{{ object.bWanted|yesno:"Yes,No" }}</TD>
    </TR>
    <TR>
        <TD>{% field_name model 'bAllOfInterest' %}</TD>
        <TD>&nbsp;&nbsp;&nbsp;</TD>
        <TD VALIGN=TOP>{{ object.bAllOfInterest|yesno:"Yes,No" }}</TD>
    </TR>
    <TR>
        <TD width = 300 VALIGN=TOP>{% field_name model 'cLookFor' %}</TD>
        <TD>&nbsp;&nbsp;&nbsp;</TD>
        <TD VALIGN=TOP>{{object.cLookFor}}</TD>
    </TR>
    <TR>
        <TD width = 300>{% field_name model 'iStars' %}</TD>
        <TD>&nbsp;&nbsp;&nbsp;</TD>
        <TD VALIGN=TOP>{{object.iStars}}</TD>
    </TR>
    <TR>
        <TD VALIGN=TOP>{% field_name model 'cComment' %}</TD>
        <TD>&nbsp;&nbsp;&nbsp;</TD>
        <TD VALIGN=TOP>{{object.cComment}}</TD>
    </TR>
    <TR>
        <TD>{% field_name model 'cNationality' %}</TD>
        <TD>&nbsp;&nbsp;&nbsp;</TD>
        <TD VALIGN=TOP>{{ object.cNationality.name }}</TD>
    </TR>
    <TR>
        <TD width = 300 VALIGN=TOP>{% field_name model 'cExcludeIf' %}</TD>
        <TD>&nbsp;&nbsp;&nbsp;</TD>
        <TD VALIGN=TOP>{{object.cExcludeIf}}</TD>
    </TR>
    <TR>
        <TD>{% field_name model 'iUser' %}</TD>
        <TD>&nbsp;&nbsp;&nbsp;</TD>
        <TD VALIGN=TOP>{{object.iUser}}</TD>
    </TR>
    <TR>
        <TD>{% field_name model 'tCreate' %}</TD>
        <TD>&nbsp;&nbsp;&nbsp;</TD>
        <TD VALIGN=TOP>{{object.tCreate}}</TD>
    </TR>
    <TR>
        <TD>{% field_name model 'tModify' %}</TD>
        <TD>&nbsp;&nbsp;&nbsp;</TD>
        <TD VALIGN=TOP>{{object.tModify}}</TD>
    </TR>
    </table>
    
    <p>
    
    <table>
    <TR ALIGN=MIDDLE>
    <TD>&nbsp;&nbsp;&nbsp;</TD>
    <td>
    <form action='{% url "brands:edit" pk=brand.id %}'>
        <input type="submit" value=" edit " />
    </form>
    </td>
    <TD>&nbsp;&nbsp;&nbsp;</TD>
    <td>
    <form action='{% url "brands:delete" pk=brand.id %}'>
        <input type="submit" value=" delete " />
    </form>
    </td>
    <TD>&nbsp;&nbsp;&nbsp;</TD>
    <td>
    <form action='{% url "brands:index" %}'>
        <input type="submit" value=" back to brand index " />
    </form>
    </td>
    </TR>
    </table>
    

    
    <div style="margin-left:20px;margin-top:20px">
    {% if categories_list %}
        <h4>Categories for {{ brand }}</h4>
        <UL>
        {% for category in categories_list%}
            <LI>{{ category }}</LI>
        {% endfor %}
        </UL>
    {% endif %}
    </div>

    <div style="margin-left:20px;margin-top:20px">
    {% if models_list %}
        <h4>{{ brand }} Models</h4>
        <table>
        {% for model, category in models_list%}
            <tr>
                <td>{{ model  }}</td>
                <TD>&nbsp;&nbsp;&nbsp;</TD>
                <td>{{category}}</td>
            </tr>
        {% endfor %}
        </table>
    {% endif %}
    </div>
  
{% endblock %}