{% extends "base.html" %}
{% block title %}Auction Shopping Bot Brands{% endblock %}

{% block content %}

    <h1>Brands</h1>

    {% include "./add_search.html" %}

    {% if brand_list %}
        <table>
        <tr>
        <th ALIGN=LEFT>Brand Name</th>
        <th ALIGN=LEFT>Wanted?</th>
        <th ALIGN=LEFT>Want everything?</th>
        <th ALIGN=LEFT>Nationality</th>
        <th ALIGN=LEFT>comment</th>
        </tr>
        {% for brand in brand_list %}
            <tr>
            <td><a href="{{ brand.get_absolute_url }}/">{{ brand.cTitle }}</a></td>
            <td>{{ brand.bWanted|yesno:"Yes,No" }}</td>
            <td>{{ brand.bAllOfInterest|yesno:"Yes,No" }}</td>
            <td NOWRAP>{{ brand.cNationality.name }}</td>
            <td>{{ brand.cComment|getDashForReturn|truncatechars:60 }}</td>
            </tr>
        {% endfor %}
        </table>
    {% else %}
        <p>No brands are available.</p>
    {% endif %}

    {% include "./add_search.html" %}

{% endblock %}
