<table>
<TR ALIGN=MIDDLE>
    <td>
        <form action='{% url "searching:edit" pk=search.id %}'>
            <input class='btn btn-primary btn-blue' type="submit" value=" edit " />
        </form>
    </td>
    <td>
        <form action='{% url "searching:delete" pk=search.id %}'>
            <input class='btn btn-primary btn-blue' type="submit" value=" delete " />
        </form>
    </td>
    <td>
        <form action='{% url "searching:add" %}'>
            <input class='btn btn-primary btn-blue' type="submit" value=" add a new search " />
        </form>
    </td>
    <td>
        <form action='{% url "searching:index" %}'>
            <input class='btn btn-primary btn-blue' type="submit" value=" go to search list " />
        </form>
    </td>
</TR>
</table>
