{% extends "base.html" %}
{% load static %}
{% load field_name %}

{% block title %}Auction Shopping Bot | Search for {{ object.cTitle }}{% endblock %}

{% block content %}
    <h1>{{ object.cTitle }} - Details</h1>

    <!-- Action buttons -->
    <div class="basic">
        {% include "./actions.html" %}
    </div>
    <!-- End Action buttons -->
    <hr>

    <table>
    <TR>
        <TD width = 300>{% field_name model 'cTitle' %}</TD>
        <TD>{{object.cTitle}}</TD>
    </TR>
    <TR>
        <TD>{% field_name model 'cKeyWords' %}</TD>
        <TD style="vertical-align:top">{{ object.cKeyWords }}</TD>
    </TR>
    <TR>
        <TD>{% field_name model 'iEbayCategory' %} Name (optional)</TD>
        <TD style="vertical-align:top">{{ object.iEbayCategory|default_if_none:"" }}</TD>
    </TR>
    <TR>
        <TD>{% field_name parent 'iCategoryID' %} (optional)</TD>
        <TD style="vertical-align:top">{{ object.iEbayCategory.iCategoryID|default_if_none:"" }}</TD>
    </TR>
    <TR>
        <TD>{% field_name model 'cPriority' %}</TD>
        <TD style="vertical-align:top">{{ object.cPriority|default_if_none:"" }}</TD>
    </TR>
    <TR>
        <TD>{% field_name model 'tBegSearch' %}</TD>
        <TD style="vertical-align:top">{{object.tBegSearch|date:"d M Y  P"}}</TD>
    </TR>
    <TR>
        <TD>{% field_name model 'tEndSearch' %}</TD>
        <TD style="vertical-align:top">{{object.tEndSearch|date:"d M Y  P"}}</TD>
    </TR>
    <TR>
        <TD width = 300>{% field_name model 'cLastResult' %}</TD>
        <TD style="vertical-align:top">{{object.cLastResult|default_if_none:"" }}</TD>
    </TR>
    <TR>
        <TD>{% field_name model 'iUser' %}</TD>
        <TD style="vertical-align:top">{{object.iUser}}</TD>
    </TR>
    <TR>
        <TD>{% field_name model 'tCreate' %}</TD>
        <TD style="vertical-align:top">{{object.tCreate|date:"d M Y  P"}}</TD>
    </TR>
    <TR>
        <TD>{% field_name model 'tModify' %}</TD>
        <TD style="vertical-align:top">{{object.tModify|date:"d M Y  P"}}</TD>
    </TR>
    </table>

    <hr>
    <!-- Action buttons -->
    <div class="basic">
        {% include "./actions.html" %}
    </div>
    <!-- End Action buttons -->

</div>
{% endblock content %}

