{% extends "base.html" %}
{% block title %}Auction Shopping Bot | Searching{% endblock %}

{% block content %}

    <h1>Searches</h1>

    <form action="{% url "searching:add" %}">
        <input class='btn btn-primary btn-blue' type="submit" value=" add a new search " />
        <br>
    </form>

    {% if search_list %}
        <table>
        <tr>
        <th>Search Name</th>
        <th>ebay category</th>
        <th>priority</th>
        <th>key words</th>
        <th>last search start</th>
        <th>last search end</th>
        </tr>
        {% for search in search_list %}
            <tr>
            <td><a href="{{ search.get_absolute_url }}/">{{ search.cTitle }}</a></td>
            <td>{{ search.iEbayCategory.name }}</td>
            <td>{{ search.cPriority }}</td>
            <td>{{ search.cKeyWords|truncatechars:65 }}</td>
            <td>{{ search.tBegSearch|date:'Y-m-d H:i:s' }}</td>
            <td>{{ search.tEndSearch|date:'Y-m-d H:i:s' }}</td>
            </tr>
        {% endfor %}
        </table>
    {% else %}
        <br>
        <p>No searches are available.</p>
    {% endif %}

    <form action="{% url "searching:add" %}">
        <input class='btn btn-primary btn-blue' type="submit" value=" add a new search " />
    </form>

{% endblock %}
