{% extends "base.html" %}
{% load field_name %}
{% load getDashForReturn %}

{% block title %}Item Found {{ object.iItemNumb.cTitle }}{% endblock %}

{% block content %}

    <h4>{{ object }}</h4>

    <!-- Action buttons -->
    <div class="basic">
        {% include "./items_found_actions.html" %}
    </div>
    <!-- End Action buttons -->

    <table RULES=ROWS CELLPADDING=10>
    <TR>
        <TD VALIGN=TOP>{% field_name parent 'cListingType' %}</TD>
        <TD>&nbsp;&nbsp;&nbsp;</TD>
        <TD VALIGN=TOP>{{object.iItemNumb.cListingType}}</TD>
    </TR>
    <TR>
        <TD>{% field_name parent 'iItemNumb' %}</TD>
        <TD>&nbsp;&nbsp;&nbsp;</TD>
        <TD VALIGN=TOP>{{ object.iItemNumb.iItemNumb }}</TD>
    </TR>
    <TR>
        <TD VALIGN=TOP>{% field_name parent 'cLocation' %}</TD>
        <TD>&nbsp;&nbsp;&nbsp;</TD>
        <TD VALIGN=TOP>{{object.iItemNumb.cLocation}}</TD>
    </TR>
    <TR>
        <TD VALIGN=TOP>{% field_name parent 'cCountry' %}</TD>
        <TD>&nbsp;&nbsp;&nbsp;</TD>
        <TD VALIGN=TOP>{{object.iItemNumb.cCountry}}</TD>
    </TR>
    <TR>
        <TD>{% field_name parent 'cMarket' %}</TD>
        <TD>&nbsp;&nbsp;&nbsp;</TD>
        <TD VALIGN=TOP>{{ object.iItemNumb.cMarket }}</TD>
    </TR>
    <tr>
        <td>{% field_name model 'iModel' %}:</td>
        <td>&nbsp;&nbsp;</td>
        <td><a href="{{ object.iModel.get_absolute_url }}/">{{ object.iModel }}</a></td>
    </tr>
    <tr>
        <td>{% field_name model 'iBrand' %}:</td>
        <td>&nbsp;&nbsp;</td>
        <td><a href="{{ object.iBrand.get_absolute_url }}/">{{ object.iBrand }}</a></td>
    </tr>
    <tr>
        <td>{% field_name model 'iCategory' %}:</td>
        <td>&nbsp;&nbsp;</td>
        <td><a href="{{ object.iCategory.get_absolute_url }}/">{{ object.iCategory }}</a></td>
    </tr>
    <TR>
        <TD VALIGN=TOP>{% field_name parent 'cGalleryURL' %}:</TD>
        <TD>&nbsp;&nbsp;&nbsp;</TD>
        <TD VALIGN=TOP><img src="{{ object.iItemNumb.cGalleryURL }}" /></TD>
    </TR>
    <tr>
        <td>{% field_name model 'iHitStars' %}:</td>
        <td>&nbsp;&nbsp;</td>
        <td>{{ object.iHitStars }}</td>
    </tr>
    <tr>
        <td>Other Hits for this Item:</td>
        <td>&nbsp;&nbsp;</td>
        <td>
        {{ OtherHits | safe }}
        </td>
    </tr>
    <TR>
        <TD>{% field_name parent 'lCurrentPrice' %} ({{object.iItemNumb.lLocalCurrency}})</TD>
        <TD>&nbsp;&nbsp;&nbsp;</TD>
        <TD>{{object.iItemNumb.lCurrentPrice}}</TD>
    </TR>
    {% if object.iItemNumb.lLocalCurrency != "USD" %}
    <TR>
        <TD>{% field_name parent 'dCurrentPrice' %}:</TD>
        <TD>&nbsp;&nbsp;&nbsp;</TD>
        <TD>{{object.iItemNumb.dCurrentPrice}}</TD>
    </TR>
    {% endif %}
    <tr>
        <td>{% field_name model 'bGetPictures' %}:</td>
        <td>&nbsp;&nbsp;</td>
        <td>{{ object.bGetPictures }}</td>
    </tr>
    <TR>
        <TD VALIGN=TOP>{% field_name parent 'cEbayItemURL' %}</TD>
        <TD>&nbsp;&nbsp;&nbsp;</TD>
        <TD VALIGN=TOP><A HREF="{{object.iItemNumb.cEbayItemURL}}">{{object.iItemNumb.cEbayItemURL}}</A></TD>
    </TR>
    <TR>
        <TD>{% field_name parent 'tTimeBeg' %}</TD>
        <TD>&nbsp;&nbsp;&nbsp;</TD>
        <TD VALIGN=TOP>{{object.iItemNumb.tTimeBeg|date:"d M Y  P"}}</TD>
    </TR>
    <TR>
        <TD>{% field_name parent 'tTimeEnd' %}</TD>
        <TD>&nbsp;&nbsp;&nbsp;</TD>
        <TD VALIGN=TOP>{{object.iItemNumb.tTimeEnd|date:"d M Y  P"}}</TD>
    </TR>
    <TR>
        <TD>{% field_name parent 'bBestOfferable' %}</TD>
        <TD>&nbsp;&nbsp;&nbsp;</TD>
        <TD VALIGN=TOP>{{ object.iItemNumb.bBestOfferable|yesno:"Yes,No" }}</TD>
    </TR>
    <TR>
        <TD>{% field_name parent 'bBuyItNowable' %}</TD>
        <TD>&nbsp;&nbsp;&nbsp;</TD>
        <TD VALIGN=TOP>{{ object.iItemNumb.bBuyItNowable|yesno:"Yes,No" }}</TD>
    </TR>
    <TR>
        <TD VALIGN=TOP>{% field_name parent 'lLocalCurrency' %}</TD>
        <TD>&nbsp;&nbsp;&nbsp;</TD>
        <TD VALIGN=TOP>{{object.iItemNumb.lLocalCurrency}}</TD>
    </TR>
    <TR>
        <TD VALIGN=TOP>{% field_name parent 'lCurrentPrice' %}</TD>
        <TD>&nbsp;&nbsp;&nbsp;</TD>
        <TD VALIGN=TOP>{{object.iItemNumb.lCurrentPrice}}</TD>
    </TR>
    <TR>
        <TD VALIGN=TOP>{% field_name parent 'dCurrentPrice' %}</TD>
        <TD>&nbsp;&nbsp;&nbsp;</TD>
        <TD VALIGN=TOP>{{object.iItemNumb.dCurrentPrice}}</TD>
    </TR>
    <!-- <TR>
        <TD VALIGN=TOP>{% field_name parent 'iCategoryID' %}</TD>
        <TD>&nbsp;&nbsp;&nbsp;</TD>
        <TD VALIGN=TOP>{{object.iItemNumb.iCategoryID}}</TD>
    </TR>-->
    <TR>
        <TD VALIGN=TOP>{% field_name parent 'cCategory' %}</TD>
        <TD>&nbsp;&nbsp;&nbsp;</TD>
        <TD VALIGN=TOP>{{object.iItemNumb.cCategory}}</TD>
    </TR>
    <TR>
        <TD VALIGN=TOP>{% field_name parent 'iCatHeirarchy' %}</TD>
        <TD>&nbsp;&nbsp;&nbsp;</TD>
        <TD VALIGN=TOP>{{ object.iItemNumb.iCatHeirarchy.cCatHierarchy|getDashForReturn }}</TD>
    </TR>
    <!-- <TR>
        <TD VALIGN=TOP>{% field_name parent 'i2ndCategoryID' %}</TD>
        <TD>&nbsp;&nbsp;&nbsp;</TD>
        <TD VALIGN=TOP>{{object.iItemNumb.i2ndCategoryID}}</TD>
    </TR>-->
    <TR>
        <TD VALIGN=TOP>{% field_name parent 'c2ndCategory' %}</TD>
        <TD>&nbsp;&nbsp;&nbsp;</TD>
        <TD VALIGN=TOP>{{object.iItemNumb.c2ndCategory}}</TD>
    </TR>
    <TR>
        <TD VALIGN=TOP>{% field_name parent 'i2ndCatHeirarchy' %}</TD>
        <TD>&nbsp;&nbsp;&nbsp;</TD>
        <TD VALIGN=TOP>{{object.iItemNumb.i2ndCatHeirarchy.cCatHierarchy}}</TD>
    </TR>
    <TR>
        <TD VALIGN=TOP>{% field_name parent 'iConditionID' %}</TD>
        <TD>&nbsp;&nbsp;&nbsp;</TD>
        <TD VALIGN=TOP>{{object.iItemNumb.iConditionID}}</TD>
    </TR>
    <TR>
        <TD VALIGN=TOP>{% field_name parent 'cCondition' %}</TD>
        <TD>&nbsp;&nbsp;&nbsp;</TD>
        <TD VALIGN=TOP>{{object.iItemNumb.cCondition}}</TD>
    </TR>
    <TR>
        <TD VALIGN=TOP>{% field_name parent 'cSellingState' %}</TD>
        <TD>&nbsp;&nbsp;&nbsp;</TD>
        <TD VALIGN=TOP>{{object.iItemNumb.cSellingState}}</TD>
    </TR>
    <TR>
        <TD>{% field_name parent 'tCreate' %}</TD>
        <TD>&nbsp;&nbsp;&nbsp;</TD>
        <TD VALIGN=TOP>{{object.iItemNumb.tCreate|date:"d M Y  P"}}</TD>
    </TR>
    </TR>
    </table>

    <p>

    <!-- Action buttons -->
    <div class="basic">
        {% include "./items_found_actions.html" %}
    </div>
    <!-- End Action buttons -->

{% endblock %}
