<table>
<TR ALIGN=MIDDLE>
    <TD>&nbsp;&nbsp;&nbsp;</TD>
    <td>
        <form action='{% url "searching:item_found_edit" pk=useritemfound.pk %}'>
            <input class='btn btn-primary btn-blue' type="submit" value=" edit " />
        </form>
    </td>
    <TD>&nbsp;&nbsp;&nbsp;</TD>
    <td>
        <form action='{% url "searching:items_found_index" select='P' %}'>
            <input class='btn btn-primary btn-blue' type="submit" value=" go to items found index " />
        </form>
    </td>
</TR>
</table>
 
