{% extends "base.html" %}
{% block title %}Auction Shopping Bot | Items Found{% endblock %}

{% block content %} 

    <h1>Items Found</h1>

    {% if items_found_list %}
        {# the pagination section #}

        <form>
        <table>
        <TR ALIGN=MIDDLE>
            <td>
                <input type="submit" name="submit" value=" Submit " />
            </td>
            <TD>&nbsp;&nbsp;&nbsp;</TD>
            <td>
                <input type="submit" name="cancel" value=" Cancel " />
            </td>
            <TD>&nbsp;&nbsp;&nbsp;</TD>
            <TD>select items:</TD>
            <!--<TD>-->
                <!--<form action='{% url "searching:items_found_index" select='A' %}'>-->
                    <!--<input type="submit" value=" all " />-->
                <!--</form>-->
            <!--</TD>-->
            <TD>&nbsp;&nbsp;&nbsp;</TD>
            <TD>
                <form action='{% url "searching:items_found_index" select='P' %}'>
                    <input type="submit" value=" hit stars > 0 " />
                </form>
            </TD>
            <TD>&nbsp;&nbsp;&nbsp;</TD>
            <TD>
                <form action='{% url "searching:items_found_index" select='D' %}'>
                    <input type="submit" value=" deleted " />
                </form>
            </TD>
            <TD>&nbsp;&nbsp;&nbsp;</TD>
            <TD>
                <form action='{% url "searching:items_found_index" select='Z' %}'>
                    <input type="submit" value=" hit stars = 0 " />
                </form>
            </TD>
            <TD>&nbsp;&nbsp;&nbsp;</TD>
            <TD>go to page:</TD>
            <TD>&nbsp;&nbsp;&nbsp;</TD>
            <td>
                {% if is_paginated %}
                    <hr>
                    <div class="basic">
                        {% include "../paginate.html" %}    
                    </div>            
                {% endif %}
            </td>
        </TR>
        </table>

        <div class="container">
        <div class="list-group">
        <table class="bottomBorder">
        <tr>
        </tr>
        <th class="text-center" colspan=2>get</th>
        <tr>
        <th ALIGN=LEFT>description</th>
        <th ALIGN=LEFT>pictures</th>
        <th ALIGN=LEFT>delete</th>
        <th ALIGN=LEFT>ebay item</th>
        <th>&nbsp;&nbsp;&nbsp;</th>
        <th ALIGN=LEFT>title</th>
        <th>&nbsp;&nbsp;&nbsp;</th>
        <th ALIGN=LEFT>cMarket</th>
        <th>&nbsp;&nbsp;&nbsp;</th>
        <th ALIGN=LEFT>type</th>
        <th>&nbsp;&nbsp;&nbsp;</th>
        <th ALIGN=LEFT>ending date/time</th>
        <th>&nbsp;&nbsp;&nbsp;</th>
        <th ALIGN=LEFT>hit stars</th>
        </tr>
        {% for item in items_found_list %}
            <tr>
            <td><input type="checkbox" name="describe" value="item_{{ item.id }}"></td>
            <td><input type="checkbox" name="pictures" value="item_{{ item.id }}"></td>
            <td><input type="checkbox" name="delete"   value="item_{{ item.id }}"></td>
            <td><a href="https://www.ebay.com/itm/b/{{item.iItemNumb.iItemNumb}}/">
                            {{ item.iItemNumb.iItemNumb }}</a></td>
            <TD>&nbsp;&nbsp;&nbsp;</TD>
            <td><a href="{{ item.get_absolute_url }}/">{{ item.iItemNumb.cTitle }}</a></td>
            <TD>&nbsp;&nbsp;&nbsp;</TD>
            <td>{{ item.iItemNumb.cMarket }}</td>
            <TD>&nbsp;&nbsp;&nbsp;</TD>
            <td>{{ item.iItemNumb.cListingType }}</td>
            <TD>&nbsp;&nbsp;&nbsp;</TD>
            <td>{{ item.iItemNumb.tTimeEnd|date:'Y-m-d H:i:s' }}</td>
            <TD>&nbsp;&nbsp;&nbsp;</TD>
            <td>{{ item.iHitStars }}</td>
            </tr>
        {% endfor %}
        </table>
        </div>
        </div>
        {# the pagination section #}
        {% if is_paginated %}
            <hr>
            <div class="basic">
                {% include "../paginate.html" %}
            </div>
        {% endif %}
        </form>
    {% else %}
        <p/>
        <p>No items have been found.</p>
    {% endif %}

{% endblock %}