{% extends "base.html" %}
{% load field_name %}
{% load crispy_forms_tags %}

{% block title %}Auction Shopping Bot Item Found | {{ useritemfound }}{% endblock %}


{% block content %}

    <h4>{{ useritemfound }}</h4>
    <table>
    <tr>
        <td>{% field_name parent 'cListingType' %}:</td>
        <td>{{ object.iItemNumb.cListingType }}</td>
        <TD ROWSPAN=7><img src="{{ object.iItemNumb.cGalleryURL }}" /></TD>
    </tr>
    <tr>
        <td>{% field_name parent 'cLocation' %}:</td>
        <td>{{ object.iItemNumb.cLocation }}</td>
    </tr>
    <tr>
        <td>{% field_name parent 'cCountry' %}:</td>
        <td>{{ object.iItemNumb.cCountry }}</td>
    </tr>
    <tr>
        <td>{% field_name parent 'cMarket' %}:</td>
        <td>{{ object.iItemNumb.cMarket }}</td>
    </tr>
    <tr>
        <td>{% field_name parent 'tTimeEnd' %}:</td>
        <td>{{ object.iItemNumb.tTimeEnd|date:'Y-m-d H:i:s' }}</td>
    </tr>
    <tr>
        <td>{% field_name model 'iSearch' %}:</td>
        <td>{{ object.iSearch }}</td>
    </tr>
    <tr>
        <td>{% field_name model 'tLook4Hits' %}:</td>
        <td>{{ object.tLook4Hits|date:'Y-m-d H:i:s' }}</td>
    </tr>
    <tr>
        <td>{% field_name model 'cWhereCategory' %}:</td>
        <td>{{ object.cWhereCategory }}</td>
    </tr>
    <TR>
        <TD>{% field_name parent 'iItemNumb' %}</TD>
        <TD VALIGN=TOP><A HREF="https://www.ebay.com/itm/b/{{object.iItemNumb.iItemNumb}}/">{{object.iItemNumb.iItemNumb}}</A></TD>
    </TR>
    <tr>
        <td>{% field_name model 'iHitStars' %}:</td>
        <td COLSPAN=3>{{ object.iHitStars }} (changing model, brand or category below will recalculate)</td>
    </tr>
    <TR>
        <TD>{% field_name parent 'lCurrentPrice' %} ({{object.iItemNumb.lLocalCurrency}})</TD>
        <TD>{{object.iItemNumb.lCurrentPrice}}</TD>
    </TR>
    {% if object.iItemNumb.lLocalCurrency != "USD" %}
    <TR>
        <TD>{% field_name parent 'dCurrentPrice' %}</TD>
        <TD>{{object.iItemNumb.dCurrentPrice}}</TD>
    </TR>
    {% endif %}
    </table>
    <p>

    {% csrf_token %}
    {% crispy form %}

{% endblock %}
