{% extends "base.html" %}
{% block title %}Auction Shopping Bot | Items Found{% endblock %}

{% block content %} 

    <h1>Items Found</h1>

    {% if items_found_list %}
        {# the pagination section #}

        
        <form action="" method="post">
        {% csrf_token %}
        <table>
        <TR ALIGN=MIDDLE>
            <td>
                <input class='btn btn-primary btn-blue' type="submit" name="submit" value=" Submit " />
            </td>
            <TD>&nbsp;&nbsp;&nbsp;</TD>
            <td>
                <input class='btn btn-primary btn-blue' type="submit" name="cancel" value=" Cancel " />
            </td>
            <TD>&nbsp;&nbsp;&nbsp;</TD>
            <TD>select items:</TD>
            <!--<TD>-->
                <!--<form action='{% url "searching:items_found_index" select='A' %}'>-->
                    <!--<input type="submit" value=" all " />-->
                <!--</form>-->
            <!--</TD>-->
            <TD>&nbsp;&nbsp;&nbsp;</TD>
            <TD>
                <form action='{% url "searching:items_found_index" select='P' %}'>
                    <input class='btn btn-primary btn-blue' type="submit" value=" stars > 0 " />
                </form>
            </TD>
            <TD>&nbsp;&nbsp;&nbsp;</TD>
            <TD>
                <form action='{% url "searching:items_found_index" select='D' %}'>
                    <input class='btn btn-primary btn-blue' class='btn btn-primary btn-blue' type="submit" value=" deleted " />
                </form>
            </TD>
            <TD>&nbsp;&nbsp;&nbsp;</TD>
            <TD>
                <form action='{% url "searching:items_found_index" select='Z' %}'>
                    <input class='btn btn-primary btn-blue' type="submit" value=" stars = 0 " />
                </form>
            </TD>
            <TD>&nbsp;&nbsp;&nbsp;</TD>
            <TD>go to page:</TD>
            <TD>&nbsp;&nbsp;&nbsp;</TD>
            <td>
                {% if is_paginated %}
                    <hr>
                    <div class="basic">
                        {% include "../paginate.html" %}    
                    </div>            
                {% endif %}
            </td>
        </TR>
        </table>

        <div class="container">
        <div class="list-group">
        <table class="bottomBorder">
        <tr>
        <th ALIGN=LEFT>get<p>pics</th>
        <th>&nbsp;&nbsp;&nbsp;</th>
        <th><i class="fas fa-trash-alt"></i></th>
        <th>&nbsp;&nbsp;&nbsp;</th>
        <th ALIGN=LEFT>ebay item</th>
        <th>&nbsp;&nbsp;&nbsp;</th>
        <th ALIGN=LEFT>title</th>
        <th>&nbsp;&nbsp;&nbsp;</th>
        <th ALIGN=LEFT>market</th>
        <th>&nbsp;&nbsp;&nbsp;</th>
        <th ALIGN=LEFT>type</th>
        <th>&nbsp;&nbsp;&nbsp;</th>
        <th ALIGN=LEFT>ending</th>
        <th>&nbsp;&nbsp;&nbsp;</th>
        <th><i class="far fa-star"></i></th>
        </tr>
        {% for item in items_found_list %}
            <tr>
            <!--<td><input type="checkbox" value="{{ item.id }} name='get_pics'"></td>-->
            <TD><input class="checkbox" name="bGetPictures" type="checkbox" 
                    value={{ item.iItemNumb_id }} {% if item.bGetPictures %}checked{% endif %}></td>
            <!--<TD><INPUT TYPE="CHECKBOX" VALUE="{{ item.bGetPictures }}"></TD>-->
            <TD>&nbsp;&nbsp;&nbsp;</TD>
            <!--<td><input type="checkbox" value="{{ item.id }} name='delete'"></td>-->
            <TD><input class="checkbox" name="bListExclude" type="checkbox" value={{ item.iItemNumb_id }}></td>
            <!--<TD><INPUT TYPE="CHECKBOX" VALUE="{{ item.bListExclude }}"></TD>-->
            <TD>&nbsp;&nbsp;&nbsp;</TD>
            <td><a href="https://www.ebay.com/itm/b/{{item.iItemNumb.iItemNumb}}/">
                            {{ item.iItemNumb.iItemNumb }}</a></td>
            <TD>&nbsp;&nbsp;&nbsp;</TD>
            <td><a href="{{ item.get_absolute_url }}/">{{ item.iItemNumb.cTitle }}</a></td>
            <TD>&nbsp;&nbsp;&nbsp;</TD>
            <td>{{ item.iItemNumb.cMarket }}</td>
            <TD>&nbsp;&nbsp;&nbsp;</TD>
            <td>{{ item.iItemNumb.cListingType }}</td>
            <TD>&nbsp;&nbsp;&nbsp;</TD>
            <td>{{ item.iItemNumb.tTimeEnd|date:'Y-m-d H:i:s' }}</td>
            <TD>&nbsp;&nbsp;&nbsp;</TD>
            <td>{{ item.iHitStars }}</td>
            <TD><input name="PicsSet" type="checkbox" style="display:none;"
                 class="HIDDEN" value={{ item.iItemNumb_id }}
                 {% if item.bGetPictures %}checked{% endif %}></td>
            <TD><input name="ExclSet" type="checkbox" style="display:none;"
                 class="HIDDEN" value={{ item.iItemNumb_id }}
                 {% if item.bListExclude %}checked{% endif %}></td>
            </tr>
        {% endfor %}
        </table>
        </div>
        </div>
        {# the pagination section #}
        {% if is_paginated %}
            <hr>
            <div class="basic">
                {% include "../paginate.html" %}
            </div>
        {% endif %}
        </form>
    {% else %}
        <p/>
        <p>No items have been found.</p>
    {% endif %}

{% endblock %}