{% extends "base.html" %}
{% load static i18n %}
{% block title %}Auction Shopping Bot Collections{% endblock %}

{% block content %}
    {% if user_list %}
        <h2>Collections</h2>
        <table>
        <tr>
        <th>description</th>
        <th>ebay site</th>
        </tr>
        {% for user in user_list %}
            <tr>
            <td><a href="{{ user.get_visiting_url }}/">{{ user.cCollection }}</a></td>
            <td>{{ user.iEbaySiteID }}</td>
            </tr>
        {% endfor %}
        </table>
    {% else %}
        <p>No users are available.</p>
    {% endif %}
{% endblock content %}
