After selecting individual items, you must hit Submit or all changes will be lost!

<table>
    <TR>
        <td>
            <input class='btn btn-primary btn-blue' type="submit" name="GetOrTrashFinders" value=" Submit " />
        </td>
        <td>
            <input class='btn btn-primary btn-blue' type="submit" name="selectall" value=" Select All " />
        </td>
        <td>
            Yes buttons are now working (remove this text when you get used to it)
        </td>
    </TR>
</table>
