{% extends "base.html" %}
{% load field_name %}
{% load getLastDroppedFromCommaSeparatedString %}

{% block title %}Finder {{ object.cTitle }}{% endblock %}

{% block content %}

    <h4>{{ object }}</h4>

    <!-- Action buttons -->
    <div class="basic">
        {% include "./fActions.html" %}
    </div>
    <!-- End Action buttons -->
    <hr>

    <table>
    <TR VALIGN=TOP>
        <TD>{% field_name 'cListingType' %}</TD>
        <TD>{{object.cListingType}}</TD>
    </TR>
    <TR VALIGN=TOP>
        <TD>{% field_name 'iItemNumb' %}</TD>
        <TD>
              <a href="https://www.ebay.com/itm/{{object.iItemNumb}}/">
                      {{ object.iItemNumb }}</a></TD>

    </TR>
    <TR VALIGN=TOP>
        <TD>{% field_name 'cLocation' %}</TD>
        <TD>{{object.cLocation}}</TD>
    </TR>
    <TR VALIGN=TOP>
        <TD>{% field_name 'cCountry' %}</TD>
        <TD>{{object.cCountry}}</TD>
    </TR>
    <TR VALIGN=TOP>
        <TD>{% field_name 'cMarket' %}</TD>
        <TD>{{ object.cMarket }}</TD>
    </TR>
    <TR>
        <TD>{% field_name 'cGalleryURL' %}:</TD>
        <TD><img src="{{ object.cGalleryURL }}" /></TD>
    </TR>
    <tr>
        <td>{% field_name 'iShippingType' %}:</td>

        <TD>{{ object.get_iShippingType_display }}</TD>
        </td>
    </tr>
    <tr>
        <td>Other Hits for this Item:</td>
        <td>
        {{ OtherHits | safe }}
        </td>
    </tr>
    <TR VALIGN=TOP>
        <TD>{% field_name 'lCurrentPrice' %} ({{object.lLocalCurrency}})</TD>
        <TD>{{object.lCurrentPrice}}</TD>
    </TR>
    {% if object.lLocalCurrency != "USD" %}
    <TR VALIGN=TOP>
        <TD>{% field_name 'dCurrentPrice' %}:</TD>
        <TD>{{object.dCurrentPrice}}</TD>
    </TR>
    {% endif %}
    <tr>
        <td>{% field_name model 'bGetPictures' %}:</td>
        <td>{{ object.bGetPictures|yesno:"Yes,No" }}</td>
    </tr>
    <TR VALIGN=TOP>
        <TD>{% field_name 'cEbayItemURL' %}</TD>

        <TD><A HREF="{{object.cEbayItemURL}}">{{object.cEbayItemURL}}</A></TD>
    </TR>
    <TR VALIGN=TOP>
        <TD>{% field_name 'tTimeBeg' %}</TD>
        <TD>{{object.tTimeBeg|date:"d M Y  P"}}</TD>
    </TR>
    <TR VALIGN=TOP>
        <TD>{% field_name 'tTimeEnd' %}</TD>
        <TD>{{object.tTimeEnd|date:"d M Y  P"}}</TD>
    </TR>
    <TR VALIGN=TOP>
        <TD>{% field_name 'bBestOfferable' %}</TD>
        <TD>{{ object.bBestOfferable|yesno:"Yes,No" }}</TD>
    </TR>
    <TR VALIGN=TOP>
        <TD>{% field_name 'bBuyItNowable' %}</TD>
        <TD>{{ object.bBuyItNowable|yesno:"Yes,No" }}</TD>
    </TR>
    <TR VALIGN=TOP>
        <TD>{% field_name 'lLocalCurrency' %}</TD>
        <TD>{{object.lLocalCurrency}}</TD>
    </TR>
    <TR VALIGN=TOP>
        <TD>{% field_name 'lCurrentPrice' %}</TD>
        <TD>{{object.lCurrentPrice}}</TD>
    </TR>
    <TR VALIGN=TOP>
        <TD>{% field_name 'dCurrentPrice' %}</TD>
        <TD>{{object.dCurrentPrice}}</TD>
    </TR>
    <!-- <TR VALIGN=TOP>
        <TD>{% field_name 'iCategoryID' %}</TD>
        <TD>{{object.iCategoryID}}</TD>
    </TR>-->
    <TR VALIGN=TOP>
        <TD>{% field_name 'cCategory' %}</TD>
        <TD>{{object.cCategory}}</TD>
    </TR>
    <TR VALIGN=TOP>
        <TD>{% field_name 'iCatHeirarchy' %}</TD>
        <TD>{{ object.iCatHeirarchy.cCatHierarchy | getLastDroppedFromCommaSeparatedString }}</TD>
    </TR>

    {% if object.c2ndCategory %}
      <TR VALIGN=TOP>
          <TD>{% field_name 'c2ndCategory' %}</TD>
          <TD>{{object.c2ndCategory}}</TD>
      </TR>
      <TR VALIGN=TOP>
          <TD>{% field_name 'i2ndCatHeirarchy' %}</TD>
          <TD>{{ object.i2ndCatHeirarchy.cCatHierarchy | getLastDroppedFromCommaSeparatedString }}</TD>
      </TR>
    {% endif %}

    <TR VALIGN=TOP>
        <TD>{% field_name 'iConditionID' %}</TD>
        <TD>{{object.iConditionID}}</TD>
    </TR>
    <TR VALIGN=TOP>
        <TD>{% field_name 'cCondition' %}</TD>
        <TD>{{object.cCondition}}</TD>
    </TR>
    <TR VALIGN=TOP>
        <TD>{% field_name 'cSellingState' %}</TD>
        <TD>{{object.cSellingState}}</TD>
    </TR>
    <TR VALIGN=TOP>
        <TD>{% field_name 'tCreate' %}</TD>
        <TD>{{object.tCreate|date:"d M Y  P"}}</TD>
    </TR>
    </TR>
    </table>

    <hr>
    <!-- Action buttons -->
    <div class="basic">
        {% include "./fActions.html" %}
    </div>
    <!-- End Action buttons -->

{% endblock %}
