<!-- used by ItemFoundHitView -->
<!-- get this from the list at bottom for a model, brand or category -->
{% extends "base.html" %}
{% load field_name %}
{% load getLastDroppedFromCommaSeparatedString %}

{% block title %}Finder {{ object.iItemNumb.cTitle }}{% endblock %}

{% block content %}

    <h4>{{ object }}</h4>

    <!-- Action buttons -->
    <div class="basic">
        {% include "./hit-actions.html" %}
    </div>
    <!-- End Action buttons -->
    <hr>

    <form action="" method="post">
    <!-- core mixin class GetUserSelectionsOnPost looks for a post -->

    {% csrf_token %}
    <!-- need token here or submit button does not work -->

    <table>
    <TR style="vertical-align:top">
        <TD>{% field_name parent 'cListingType' %}</TD>
        <TD>{{object.iItemNumb.cListingType}}</TD>
    </TR>
    <TR style="vertical-align:top">
        <TD>{% field_name parent 'iItemNumb' %}</TD>
        <TD><a href="https://www.ebay.com/itm/{{object.iItemNumb.iItemNumb}}/">
                      {{ object.iItemNumb.iItemNumb }}</a></TD>
    </TR>
    <TR style="vertical-align:top">
        <TD>{% field_name parent 'cLocation' %}</TD>
        <TD>{{object.iItemNumb.cLocation}}</TD>
    </TR>
    <TR style="vertical-align:top">
        <TD>{% field_name parent 'cCountry' %}</TD>
        <TD>{{object.iItemNumb.cCountry}}</TD>
    </TR>
    <TR style="vertical-align:top">
        <TD>{% field_name parent 'cMarket' %}</TD>
        <TD>{{ object.iItemNumb.cMarket }}</TD>
    </TR>
    <tr>
        <td style="white-space:nowrap">
          {% field_name model 'iModel' %}:
          <br>
          {% field_name model 'iBrand' %}
          <br>
          {% field_name model 'iCategory' %}
          <br>
          {% field_name model 'iHitStars' %}
        </td>
        <td>
          <table>
            <tr>
              <td style="white-space:nowrap"><a href="{{ object.iModel.get_absolute_url }}/">{{ object.iModel }}</a></td>
              <td>{% if object.iModel %}{{ object.iModel.iStars }} stars{% endif %}</td>
            </tr>
            <tr>
              <td style="white-space:nowrap"><a href="{{ object.iBrand.get_absolute_url }}/">{{ object.iBrand }}</a></td>
              <td>{% if object.iBrand %}{{ object.iBrand.iStars }} stars{% endif %}</td>
            </tr>
            <tr>
              <td style="white-space:nowrap"><a href="{{ object.iCategory.get_absolute_url }}/">{{ object.iCategory }}</a></td>
              <td>{% if object.iCategory %}{{ object.iCategory.iStars }} stars{% endif %}</td>
            </tr>
            <tr>
              <td>{{ object.iHitStars }}</td>
              <td>{{ object.iModel.iStars | default:"no model found" }} *
                  {{ object.iBrand.iStars |default:"no brand found" }} *
                  {{ object.iCategory.iStars | default:"no category found" }}</td>
            </tr>
          </table>
        </td>
    </tr>
    <TR>
        <TD>{% field_name parent 'cGalleryURL' %}:</TD>
        <TD><img src="{{ object.iItemNumb.cGalleryURL }}" /></TD>
    </TR>
    <tr>
        <td>{% field_name parent 'iShippingType' %}:</td>

        <TD>{{ object.iItemNumb.get_iShippingType_display }}</TD>
        </td>
    </tr>
    <tr>
        <td>Other Hits for this Item:</td>
        <td>
          {% include "../common/hit_index_on_detail.html" %}
        </td>
    </tr>
    {% if HitsForThis %}
      <tr>
        <td>&nbsp;</td>
        <td>
        {% include "./index_buttons_hits.html" %}
        </td>
      </tr>
    {% endif %}
    <TR style="vertical-align:top">
        <TD>{% field_name parent 'lCurrentPrice' %} ({{object.iItemNumb.lLocalCurrency}})</TD>
        <TD>{{object.iItemNumb.lCurrentPrice}}</TD>
    </TR>
    {% if object.iItemNumb.lLocalCurrency != "USD" %}
    <TR style="vertical-align:top">
        <TD>{% field_name parent 'dCurrentPrice' %}:</TD>
        <TD>{{object.iItemNumb.dCurrentPrice}}</TD>
    </TR>
    {% endif %}
    <tr>
        <td>{% field_name model 'bGetResult' %}:</td>
        <td>{{ object.bGetResult|yesno:"Yes,No" }}</td>
    </tr>
    <TR style="vertical-align:top">
        <TD>{% field_name parent 'cEbayItemURL' %}</TD>

        <TD><A HREF="{{object.iItemNumb.cEbayItemURL}}">{{object.iItemNumb.cEbayItemURL}}</A></TD>
    </TR>
    <TR style="vertical-align:top">
        <TD>{% field_name parent 'tTimeBeg' %}</TD>
        <TD>{{object.iItemNumb.tTimeBeg|date:"d M Y  P"}}</TD>
    </TR>
    <TR style="vertical-align:top">
        <TD>{% field_name parent 'tTimeEnd' %}</TD>
        <TD>{{object.iItemNumb.tTimeEnd|date:"d M Y  P"}}</TD>
    </TR>
    <TR style="vertical-align:top">
        <TD>{% field_name parent 'bBestOfferable' %}</TD>
        <TD>{{ object.iItemNumb.bBestOfferable|yesno:"Yes,No" }}</TD>
    </TR>
    <TR style="vertical-align:top">
        <TD>{% field_name parent 'bBuyItNowable' %}</TD>
        <TD>{{ object.iItemNumb.bBuyItNowable|yesno:"Yes,No" }}</TD>
    </TR>
    <TR style="vertical-align:top">
        <TD>{% field_name parent 'lLocalCurrency' %}</TD>
        <TD>{{object.iItemNumb.lLocalCurrency}}</TD>
    </TR>
    <TR style="vertical-align:top">
        <TD>{% field_name parent 'lCurrentPrice' %}</TD>
        <TD>{{object.iItemNumb.lCurrentPrice}}</TD>
    </TR>
    <TR style="vertical-align:top">
        <TD>{% field_name parent 'dCurrentPrice' %}</TD>
        <TD>{{object.iItemNumb.dCurrentPrice}}</TD>
    </TR>
    <!-- <TR style="vertical-align:top">
        <TD>{% field_name parent 'iCategoryID' %}</TD>
        <TD>{{object.iItemNumb.iCategoryID}}</TD>
    </TR>-->
    <TR style="vertical-align:top">
        <TD>{% field_name parent 'cCategory' %}</TD>
        <TD>{{object.iItemNumb.cCategory}}</TD>
    </TR>
    <TR style="vertical-align:top">
        <TD>{% field_name parent 'iCatHeirarchy' %}</TD>
        <TD>{{ object.iItemNumb.iCatHeirarchy.cCatHierarchy | getLastDroppedFromCommaSeparatedString }}</TD>
    </TR>

    {% if object.iItemNumb.c2ndCategory %}
      <TR style="vertical-align:top">
          <TD>{% field_name parent 'c2ndCategory' %}</TD>
          <TD>{{object.iItemNumb.c2ndCategory}}</TD>
      </TR>
      <TR style="vertical-align:top">
          <TD>{% field_name parent 'i2ndCatHeirarchy' %}</TD>
          <TD>{{ object.iItemNumb.i2ndCatHeirarchy.cCatHierarchy | getLastDroppedFromCommaSeparatedString }}</TD>
      </TR>
    {% endif %}

    <TR style="vertical-align:top">
        <TD>{% field_name parent 'iConditionID' %}</TD>
        <TD>{{object.iItemNumb.iConditionID}}</TD>
    </TR>
    <TR style="vertical-align:top">
        <TD>{% field_name parent 'cCondition' %}</TD>
        <TD>{{object.iItemNumb.cCondition}}</TD>
    </TR>
    <TR style="vertical-align:top">
        <TD>{% field_name parent 'cSellingState' %}</TD>
        <TD>{{object.iItemNumb.cSellingState}}</TD>
    </TR>
    <TR style="vertical-align:top">
        <TD>{% field_name parent 'tCreate' %}</TD>
        <TD>{{object.iItemNumb.tCreate|date:"d M Y  P"}}</TD>
    </TR>
    </TR>
    </table>

    <hr>
    <!-- Action buttons -->
    <div class="basic">
        {% include "./hit-actions.html" %}
    </div>
    <!-- End Action buttons -->
    </form>

{% endblock %}
