<!-- for a finder item, this lists the hits, each has a category, brand & model -->
<!-- used 2 places -->
<!-- 1) items picked from finders list (top menu item) and -->
<!-- 2) items picked from list under model, brand or category -->
{% if HitsForThis %}

    <table RULES=ROWS>
      <tr>
        <th>Edit</th>
        <th><i class="fas fa-trash-alt"></i></th>
        <th>Model</th>
        <th>Brand</th>
        <th>Category</th>
        <th><i class="far fa-star"></i></th>
      </tr>
      {% for item in HitsForThis %}
          <tr>
            <td><a href="{{ item.get_edit_url }}">Edit</a></td>
            <TD><input class="checkbox" name="bListExclude" type="checkbox" value={{ item.id }}></td>
            <td><a href="{{ item.iModel.get_absolute_url    }}">{{ item.iModel    }}</a></td>
            <td><a href="{{ item.iBrand.get_absolute_url    }}">{{ item.iBrand    }}</a></td>
            <td><a href="{{ item.iCategory.get_absolute_url }}">{{ item.iCategory }}</a></td>
            <td>{{ item.iHitStars }} ( {{item.iModel.iStars}} * {{item.iBrand.iStars}} * {{item.iCategory.iStars}} )</td>
            <TD><input name="ExcludeChecked" type="checkbox" style="display:none;"
                class="HIDDEN" value={{ item.id }}
                {% if item.bListExclude %}checked{% endif %}></td>
            <TD><input name="AllItems" type="checkbox" style="display:none;"
                class="HIDDEN" value={{ item.iItemNumb_id }}
                {% if True %}checked{% endif %}></td>
          </tr>
      {% endfor %}
    </table>

{% else %}
    None!
{% endif %}
<!-- trash and add submit buttons are in index_buttons_hits.html -->

