{% extends "base.html" %}
{% block title %}Auction Shopping Bot | Items Found{% endblock %}

{% block content %}

    <h1>Finders (Items Found)</h1>

    {% if finders_list %}

      <form action="" method="post">
      <!-- core mixin class GetUserSelectionsOnPost looks for a post -->

        {% csrf_token %}
        <!-- need token here or submit button does not work -->

        {% include "./_index_buttons_more.html" %}

        <div class="basic">
        <table class="bottomBorder">
          <tr>
            <th>get</th>
            <th><i class="fas fa-trash-alt"></i></th>
            <th>ebay item</th>
            <th>title</th>
            <th>market</th>
            <th>type</th>
            <th>ending</th>
            <th style="text-align:right"><i class="far fa-star"></i></th>
          </tr>
          {% for item in finders_list %}
              <tr>
              <TD><input class="checkbox" name="bGetResult" type="checkbox"
                      value={{ item.iItemNumb_id }} {% if item.bGetResult %}checked{% endif %}></td>
              <TD><input class="checkbox" name="bListExclude" type="checkbox" value={{ item.iItemNumb_id }}></td>
              <td><a href="https://www.ebay.com/itm/{{item.iItemNumb_id}}/">
                              {{ item.iItemNumb_id }}</a></td>
              <td><a href="{{ item.get_absolute_url }}">{{ item.cTitle }}</a></td>
              <td>{{ item.cMarket }}</td>
              <td>{{ item.cListingType }}</td>
              <td>{{ item.tTimeEnd|date:'Y-m-d H:i:s' }}</td>
              <td style="text-align:right">{{ item.iHitStars }}</td>
              <TD><input name="GetResultChecked" type="checkbox" style="display:none;"
                  class="HIDDEN" value={{ item.iItemNumb_id }}
                  {% if item.bGetResult %}checked{% endif %}></td>
              <TD><input name="ExcludeChecked" type="checkbox" style="display:none;"
                  class="HIDDEN" value={{ item.iItemNumb_id }}
                  {% if item.bListExclude %}checked{% endif %}></td>
              <TD><input name="AllItems" type="checkbox" style="display:none;"
                  class="HIDDEN" value={{ item.iItemNumb_id }}
                  {% if True %}checked{% endif %}></td>
              </tr>
          {% endfor %}
        </table>

        </div>

        <br>

        {% include "./_index_buttons_more.html" %}

        <br>
        <br>
      </form>

    {% else %}
        <br>
        <p>No items have been found.</p>
    {% endif %}

{% endblock %}
