<div style="margin-left:20px;margin-top:20px">
  {% if finders_list %}

      <h4>{{ sHowManyFinders }} {{ object.cTitle }} Finders</h4>
      <form action="" method="post">
      {% csrf_token %}

      {% include "./index_buttons_less.html" %}

      <div class="basic">
        {% include "./finders_list_table.html" %}
      </div>

      <p/>

      {% include "./index_buttons_less.html" %}

      </form>

  {% else %}
      No Finders for {{ object.cTitle }} at the moment!
  {% endif %}
</div>
<p>
<p/>
