<table>
    <TR ALIGN=MIDDLE>
        <td>
            <input class='btn btn-primary btn-blue' type="submit" name="submit" value=" Submit " />
        </td>
        <td>
            <input class='btn btn-primary btn-blue' type="submit" name="selectall" value=" Select All " />
        </td>
        <TD>filter items:</TD>
        <TD>
            <form action='{% url "finders:index" select='P' %}'>
                <input class='btn btn-primary btn-blue' type="submit" value=" stars > 0 " />
            </form>
        </TD>
        <TD>
            <form action='{% url "finders:index" select='D' %}'>
                <input class='btn btn-primary btn-blue' class='btn btn-primary btn-blue' type="submit" value=" deleted " />
            </form>
        </TD>
        <TD>
            <form action='{% url "finders:index" select='Z' %}'>
                <input class='btn btn-primary btn-blue' type="submit" value=" stars = 0 " />
            </form>
        </TD>
        <TD>go to page:</TD>
        <td>
            {% if is_paginated %}
                <hr>
                <div class="basic">
                    {% include "../paginate.html" %}
                </div>
            {% endif %}
        </td>
    </TR>
</table>
