After selecting individual items, you must hit Submit or all changes will be lost!

<table>
    <TR>
        <td>
            <input class='btn btn-primary btn-blue' type="submit" name="GetOrTrashFinders" value=" Submit " />
        </td>
        <td>
            <input class='btn btn-primary btn-blue' type="submit" name="selectall" value=" Select All " />
        </td>
        <TD>
            <!-- first button does not work, so put a non displaying button first  -->
            <form action='{% url "finders:index" %}P/' method="POST">
            </form>
        </TD>
        <TD>filter items:</TD>
        <TD>
            <form action='{% url "finders:index" %}A/' method="POST">
                {% csrf_token %}
                <input class='btn btn-primary btn-blue' type="submit" value=" active " />
            </form>
        </TD>
        <TD>
            <form action='{% url "finders:index" %}D/' method="POST">
                {% csrf_token %}
                <input class='btn btn-primary btn-blue' type="submit" value=" deleted " />
            </form>
        </TD>
        <!--<TD>
            <form action='{% url "finders:index" %}Z/' method="POST">
                {% csrf_token %}
                <input class='btn btn-primary btn-blue' type="submit" value=" stars = 0 " />
            </form>
        </TD>-->
        {% if is_paginated %}
          <td>{% include "../paginate.html" %}</td>
        {% endif %}
    </TR>
</table>
<!--
<form action = '{% url "finders:index" %}S/' method="POST" >
    {% csrf_token %}
    <button class='btn btn-primary btn-blue' type = "submit" > search </button>
    <input type = "text" name = "q" />
</form>
-->
