After selecting individual items, you must hit Submit or all changes will be lost!

<table>
    <TR>
        <td>
            <input class='btn btn-primary btn-blue' type="submit" name="GetOrTrashFinders" value=" Submit " />
        </td>
        <td>
            <input class='btn btn-primary btn-blue' type="submit" name="selectall" value=" Select All " />
        </td>
        <td>
            Buttons are working (remove this text when troubleshooting finished)
        </td>
    </TR>
</table>
