<div style="margin-left:20px;margin-top:20px">
  {% if keepers_list %}
      <h4>Recent Keepers for {{ object.cTitle }}</h4>
      <table>
      <tr>
      <td>Item Number</td><TD>&nbsp;&nbsp;&nbsp;
      </TD><td>Title</td><TD>&nbsp;&nbsp;&nbsp;
      </TD><td>End Date</td>
      </tr>
      {% for keeper in keepers_list %}
          <tr>
          <td VALIGN=TOP>
            <a href="https://www.ebay.com/itm/{{keeper.iItemNumb}}/">
            {{ keeper.iItemNumb }}</a></td>
          <TD>&nbsp;&nbsp;&nbsp;</TD>
          <td VALIGN=TOP>{{ keeper.cTitle }}</td>
          <TD>&nbsp;&nbsp;&nbsp;</TD>
          <td VALIGN=TOP>
            <span style="white-space: nowrap;">{{ keeper.tTimeEnd | date:'Y-m-d' }}</span>
          </td>
          </tr>
      {% endfor %}
      </table>
  {% else %}
      No Keepers for {{ object.cTitle }} yet!
  {% endif %}
</div>
<p>
