<table>
<TR>
    <td>
        <form action='{% url "categories:edit" pk=category.id %}'>
            <input class='btn btn-primary btn-blue' type="submit" value=" edit " />
        </form>
    </td>
    <td>
        <form action='{% url "categories:delete" pk=category.id %}'>
            <input class='btn btn-primary btn-blue' type="submit" value=" delete {{ category }} category " />
        </form>
    </td>
    <td>
        <form action='{% url "categories:add" %}'>
            <input class='btn btn-primary btn-blue' type="submit" value=" add a new category " />
        </form>
    </td>
    <td>
        <form action='{% url "categories:index" %}'>
            <input class='btn btn-primary btn-blue' type="submit" value=" go to category index " />
        </form>
    </td>
</TR>
</table>
