<table>
<TR ALIGN=MIDDLE>
    <TD>&nbsp;&nbsp;&nbsp;</TD>
    <td>
        <form action='{% url "categories:edit" pk=category.id %}'>
            <input type="submit" value=" edit " />
        </form>
    </td>
    <TD>&nbsp;&nbsp;&nbsp;</TD>
    <td>
        <form action='{% url "categories:delete" pk=category.id %}'>
            <input type="submit" value=" delete " />
        </form>
    </td>
    <TD>&nbsp;&nbsp;&nbsp;</TD>
    <td>
        <form action='{% url "categories:add" %}'>
            <input type="submit" value=" add a new category " />
        </form>
    </td>
    <TD>&nbsp;&nbsp;&nbsp;</TD>
    <td>
        <form action='{% url "categories:index" %}'>
            <input type="submit" value=" go to category index " />
        </form>
    </td>
</TR>
</table>
