{% extends "base.html" %}
{% load static %}
{% load field_name %}
{% load getDashForReturn %}

{% block title %}Auction Shopping Bot | Category {{ category }}{% endblock %}

{% block content %}
    <h1>Category {{ category }} Details</h1>

    <!-- Action buttons -->
    <div class="basic">
        {% include "./actions.html" %}
    </div>
    <!-- End Action buttons -->

    <table RULES=ROWS CELLPADDING=10>
    <TR>
        <TD width = 300>{% field_name model 'cTitle' %}</TD>
        <TD>&nbsp;&nbsp;&nbsp;</TD>
        <TD>{{object.cTitle}}</TD>
    </TR>
    <TR>
        <TD width = 300>{% field_name model 'cKeyWords' %}</TD>
        <TD>&nbsp;&nbsp;&nbsp;</TD>
        <TD>{{object.cKeyWords|default_if_none:""|getDashForReturn}}</TD>
    </TR>
    <TR>
        <TD width = 300 VALIGN=TOP>{% field_name model 'cLookFor' %}</TD>
        <TD>&nbsp;&nbsp;&nbsp;</TD>
        <TD VALIGN=TOP>{{object.cLookFor|default_if_none:""|getDashForReturn}}</TD>
    </TR>
    <TR>
        <TD width = 300>{% field_name model 'iStars' %}</TD>
        <TD>&nbsp;&nbsp;&nbsp;</TD>
        <TD VALIGN=TOP>{{object.iStars}}</TD>
    </TR>
    <TR>
        <TD>{% field_name model 'bAllOfInterest' %}</TD>
        <TD>&nbsp;&nbsp;&nbsp;</TD>
        <TD VALIGN=TOP>{{ object.bAllOfInterest|yesno:"Yes,No" }}</TD>
    </TR>
    <TR>
        <TD>{% field_name model 'bWantPair' %}</TD>
        <TD>&nbsp;&nbsp;&nbsp;</TD>
        <TD VALIGN=TOP>{{ object.bWantPair|yesno:"Yes,No" }}</TD>
    </TR>
    <TR>
        <TD>{% field_name model 'bComponent' %}</TD>
        <TD>&nbsp;&nbsp;&nbsp;</TD>
        <TD VALIGN=TOP>{{ object.bComponent|yesno:"Yes,No" }}</TD>
    </TR>
    <TR>
        <TD>{% field_name model 'iFamily' %}</TD>
        <TD>&nbsp;&nbsp;&nbsp;</TD>
        <TD VALIGN=TOP>{{ object.iFamily}}</TD>
    </TR>
    <TR>
        <TD>{% field_name model 'bModelsShared' %}</TD>
        <TD>&nbsp;&nbsp;&nbsp;</TD>
        <TD VALIGN=TOP>{{ object.bModelsShared|yesno:"Yes,No" }}</TD>
    </TR>
    <TR>
        <TD VALIGN=TOP>{% field_name model 'cExcludeIf' %}</TD>
        <TD>&nbsp;&nbsp;&nbsp;</TD>
        <TD VALIGN=TOP>{{object.cExcludeIf|default_if_none:""|getDashForReturn}}</TD>
    </TR>
    <TR>
        <TD>{% field_name model 'iUser' %}</TD>
        <TD>&nbsp;&nbsp;&nbsp;</TD>
        <TD VALIGN=TOP>{{object.iUser}}</TD>
    </TR>
    <TR>
        <TD>{% field_name model 'tCreate' %}</TD>
        <TD>&nbsp;&nbsp;&nbsp;</TD>
        <TD VALIGN=TOP>{{object.tCreate|date:"d M Y  P"}}</TD>
    </TR>
    <TR>
        <TD>{% field_name model 'tModify' %}</TD>
        <TD>&nbsp;&nbsp;&nbsp;</TD>
        <TD VALIGN=TOP>{{object.tModify|date:"d M Y  P"}}</TD>
    </TR>
    </table>

    <p>

    <!-- Action buttons -->
    <p/>
    <hr>
    <div class="basic">
        {% include "./actions.html" %}
    </div>
    <p/>
    <hr>
    <!-- End Action buttons -->

    <div class="basic">
        {% include "../keepers_list.html" %}
    </div>

</div>
{% endblock content %}

