{% extends "base.html" %}
{% load static %}
{% load field_name %}
{% load getDashForReturn %}

{% block title %}Auction Shopping Bot | Category {{ category }}{% endblock %}

{% block content %}
    <h1>Category {{ category }} Details</h1>

    <!-- Action buttons -->
    <div class="basic">
        {% include "./actions.html" %}
    </div>
    <!-- End Action buttons -->
    <hr>

    <table>
    <TR VALIGN=TOP>
        <TD>{% field_name model 'cTitle' %}</TD>
        <TD>{{object.cTitle}}</TD>
    </TR>
    <TR VALIGN=TOP>
        <TD>{% field_name model 'cKeyWords' %}</TD>
        <TD>{{object.cKeyWords|getDashForReturn}}</TD>
    </TR>
    <TR VALIGN=TOP>
        <TD VALIGN=TOP>{% field_name model 'cLookFor' %}</TD>
        <TD VALIGN=TOP>{{object.cLookFor|getDashForReturn}}</TD>
    </TR>
    <TR VALIGN=TOP>
        <TD>{% field_name model 'iStars' %}</TD>
        <TD VALIGN=TOP>{{object.iStars}}</TD>
    </TR>
    <TR VALIGN=TOP>
        <TD>{% field_name model 'bAllOfInterest' %}</TD>
        <TD VALIGN=TOP>{{ object.bAllOfInterest|yesno:"Yes,No" }}</TD>
    </TR>
    <TR VALIGN=TOP>
        <TD>{% field_name model 'bWantPair' %}</TD>
        <TD VALIGN=TOP>{{ object.bWantPair|yesno:"Yes,No" }}</TD>
    </TR>
    <TR VALIGN=TOP>
        <TD>{% field_name model 'bComponent' %}</TD>
        <TD VALIGN=TOP>{{ object.bComponent|yesno:"Yes,No" }}</TD>
    </TR>
    <TR VALIGN=TOP>
        <TD>{% field_name model 'iFamily' %}</TD>
        <TD VALIGN=TOP>{{ object.iFamily}}</TD>
    </TR>
    <TR VALIGN=TOP>
        <TD>{% field_name model 'bModelsShared' %}</TD>
        <TD VALIGN=TOP>{{ object.bModelsShared|yesno:"Yes,No" }}</TD>
    </TR>
    <TR VALIGN=TOP>
        <TD VALIGN=TOP>{% field_name model 'cExcludeIf' %}</TD>
        <TD VALIGN=TOP>{{object.cExcludeIf|getDashForReturn}}</TD>
    </TR>
    <TR VALIGN=TOP>
        <TD>{% field_name model 'iUser' %}</TD>
        <TD VALIGN=TOP>{{object.iUser}}</TD>
    </TR>
    <TR VALIGN=TOP>
        <TD>{% field_name model 'tCreate' %}</TD>
        <TD VALIGN=TOP>{{object.tCreate|date:"d M Y  P"}}</TD>
    </TR>
    <TR VALIGN=TOP>
        <TD>{% field_name model 'tModify' %}</TD>
        <TD VALIGN=TOP>{{object.tModify|date:"d M Y  P"}}</TD>
    </TR>
    </table>

    <p>

    <!-- Action buttons -->
    <p/>

    <div class="basic">
        {% include "./actions.html" %}
    </div>
    <p/>
    <hr>
    <!-- End Action buttons -->

    <!-- Keepers List -->
    <div class="basic">
        {% include "../keepers/keepers_list_under_detail.html" %}
    </div>

    <hr>

    <!-- Finders List -->
    <div class="basic">
        {% include "../finders/finders_list_under_detail.html" %}
    </div>

</div>
{% endblock content %}

