<table>
    <tr>
        <td>
            <form action="{% url "models:add" %}">
                <input class='btn btn-primary btn-blue' type="submit" value=" add a new model " />
            </form>
        </td>
        <td>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </td>
        <td style="text-align:right">
            <form action = "" method = "GET" >
                <input type = "text" name = "q" />
                <button class='btn btn-primary btn-blue' type = "submit" > search </button>
            </form>
        </td>
    <tr>
</table>
