{% extends "base.html" %}
{% load static %}
{% load field_name %}
{% load getDashForReturn %}

{% block title %}Auction Shopping Bot | {{ object.iBrand|default_if_none:"" }}
                 Model {{ object }}{% endblock %}

{% block content %}
    <h1>Model {{ object }} Details</h1>

    <!-- Action buttons -->
    <div class="basic">
        {% include "./_actions.html" %}
    </div>
    <!-- End Action buttons -->
    <hr>

    <table>
    <TR style="vertical-align:top">
        <TD>{% field_name model 'cTitle' %}</TD>
        <TD>{{object.cTitle}}</TD>
    </TR>
    <TR style="vertical-align:top">
        <TD>{% field_name model 'iBrand' %}</TD>
        <TD style="white-space:nowrap"><a href="{{ object.iBrand.get_absolute_url }}/">{{ object.iBrand|default_if_none:"" }}</a></TD>
    </TR>
    <TR style="vertical-align:top">
        <TD>{% field_name model 'iCategory' %}</TD>
        <TD style="white-space:nowrap"><a href="{{ object.iCategory.get_absolute_url }}/">{{ object.iCategory }}</a></TD>
    </TR>
    <TR style="vertical-align:top">
        <TD style="white-space:nowrap">{% field_name model 'cKeyWords' %}</TD>
        <TD>{{object.cKeyWords|getDashForReturn}}</TD>
    </TR>
    <TR style="vertical-align:top">
        <TD>{% field_name model 'cLookFor' %}</TD>
        <TD>{{object.cLookFor|getDashForReturn}}</TD>
    </TR>
    <TR style="vertical-align:top">
        <TD>{% field_name model 'iStars' %}</TD>
        <TD>{{object.iStars}}</TD>
    </TR>
    <TR style="vertical-align:top">
        <TD style="white-space:nowrap">{% field_name model 'bSubModelsOK' %}</TD>
        <TD>{{ object.bSubModelsOK|yesno:"Yes,No" }}</TD>
    </TR>
    <TR style="vertical-align:top">
        <TD>{% field_name model 'bMustHaveBrand' %}</TD>
        <TD>{{ object.bMustHaveBrand|yesno:"Yes,No" }}</TD>
    </TR>
    <TR style="vertical-align:top">
        <TD>{% field_name model 'bWanted' %}</TD>
        <TD>{{ object.bWanted|yesno:"Yes,No" }}</TD>
    </TR>
    <TR style="vertical-align:top">
        <TD>{% field_name model 'bGenericModel' %}</TD>
        <TD>{{ object.bGenericModel|yesno:"Yes,No" }}</TD>
    </TR>
    <TR style="vertical-align:top">
        <TD>{% field_name model 'bGetPictures' %}</TD>
        <TD>{{ object.bGetPictures|yesno:"Yes,No" }}</TD>
    </TR>
    <TR style="vertical-align:top">
        <TD>{% field_name model 'bGetDescription' %}</TD>
        <TD>{{ object.bGetDescription|yesno:"Yes,No" }}</TD>
    </TR>
    <TR style="vertical-align:top">
        <TD>{% field_name model 'cComment' %}</TD>
        <TD>{{ object.cComment | getLineBreakForReturn }}</TD>
    </TR>
    <TR style="vertical-align:top">
        <TD>{% field_name model 'cExcludeIf' %}</TD>
        <TD>{{object.cExcludeIf|getDashForReturn }}</TD>
    </TR>
    <TR style="vertical-align:top">
        <TD>{% field_name model 'cFileSpec1' %}</TD>
        <TD>{{object.cFileSpec1|default_if_none:"" }}</TD>
    </TR>
    <TR style="vertical-align:top">
        <TD>{% field_name model 'cFileSpec2' %}</TD>
        <TD>{{object.cFileSpec2|default_if_none:"" }}</TD>
    </TR>
    <TR style="vertical-align:top">
        <TD>{% field_name model 'cFileSpec3' %}</TD>
        <TD>{{object.cFileSpec3|default_if_none:"" }}</TD>
    </TR>
    <TR style="vertical-align:top">
        <TD>{% field_name model 'cFileSpec4' %}</TD>
        <TD>{{object.cFileSpec4|default_if_none:"" }}</TD>
    </TR>
    <TR style="vertical-align:top">
        <TD>{% field_name model 'cFileSpec5' %}</TD>
        <TD>{{object.cFileSpec5|default_if_none:"" }}</TD>
    </TR>
    <TR style="vertical-align:top">
        <TD>{% field_name model 'iUser' %}</TD>
        <TD>{{object.iUser}}</TD>
    </TR>
    <TR style="vertical-align:top">
        <TD>{% field_name model 'tCreate' %}</TD>
        <TD>{{object.tCreate|date:"d M Y  P"}}</TD>
    </TR>
    <TR style="vertical-align:top">
        <TD>{% field_name model 'tModify' %}</TD>
        <TD>{{object.tModify|date:"d M Y  P"}}</TD>
    </TR>
    </table>
    <!-- Action buttons -->
    <br>
    <div class="basic">
        {% include "./_actions.html" %}
    </div>
    <br>
    <hr>
    <!-- End Action buttons -->

    <form action="" method="post">
    {% csrf_token %}

      <!-- Keepers List -->
      <div class="basic">
          {% include "../keepers/_index_under_parent.html" %}
      </div>

      <hr>
      <!-- Finders List -->
      <div class="basic">
          {% include "../finders/_index_under_parent.html" %}
      </div>

    </form>

    <br>
    <hr>

</div>
{% endblock content %}

