{% extends "base.html" %}
{% load static %}

{% block title %}Model Name/Number: {{ object.username }}{% endblock %}

{% block content %}
<div class="container">

  <div class="row">
    <div class="col-sm-12">
      <h2>{{ object.cTitle }}</h2>
      {% if object.cKeyWords %}
        <p>{{ object.cKeyWords }}</p>
      {% endif %}
      {% if object.iStars %}
        <p>{{ object.iStars }}</p>
      {% endif %}
      {% if object.cComment %}
        <p>{{ object.cComment }}</p>
      {% endif %}
    </div>
  </div>

{% if object == request.user %}
<!-- Action buttons -->
<!-- End Action buttons -->
{% endif %}


</div>
{% endblock content %}

