{% extends "base.html" %}
{% load static i18n %}
{% load getNbsp %} 
{% block title %}Auction Shopping Bot Models{% endblock %}


{% block content %}
  <h2>Models</h2>

    {% if model_list %}
        {# the pagination section #}
        {% if is_paginated %}
            <hr>
            <div class="basic">
                {% include "../paginate.html" %}    
            </div>            
        {% endif %}
        <div class="container">
        <div class="list-group">
        <table class="bottomBorder">
        <tr>
        <th ALIGN=LEFT>Model Name/Number</th>
        <TD>&nbsp;&nbsp;&nbsp;</TD>
        <th ALIGN=LEFT>Brand</th>
        <TD>&nbsp;&nbsp;&nbsp;</TD>
        <th ALIGN=LEFT>Category</th>
        <TD>&nbsp;&nbsp;&nbsp;</TD>
        <th ALIGN=LEFT>Comment</th>
        </tr>
        {% for model in model_list %}
            <tr>
            <td><a href="{% url 'models:detail' model.id %}">
                {{ model.cTitle|getNbsp }}</a>
            </td>
            <TD>&nbsp;&nbsp;&nbsp;</TD>
            <td>{{ model.iBrand.cTitle|getNbsp }}</td>
            <TD>&nbsp;&nbsp;&nbsp;</TD>
            <td>{{ model.iCategory.cTitle|getNbsp }}</td>
            <TD>&nbsp;&nbsp;&nbsp;</TD>
            <td>{{ model.cComment|truncatechars:45}}</td>
            </tr>
        {% endfor %}
        </table>
        </div>
        </div>
        {# the pagination section #}
        {% if is_paginated %}
            <hr>
            <div class="basic">
                {% include "../paginate.html" %}    
            </div>            
        {% endif %}
    {% else %} <!-- brand_list -->
        <p>No models are available.</p>
    {% endif %} <!-- brand_list -->
{% endblock content %}
