{% extends "base.html" %}
{% load static i18n %}
{% block title %}Auction Shopping Bot Models{% endblock %}
{% load getDashForReturn %}


{% block content %}
  <h2>Models</h2>

    {% include "./add_search.html" %}

    {% if object_list %}
        {# the pagination section #}
        {% if is_paginated %}
            <hr>
            <div class="basic">
                {% include "../paginate.html" %}
            </div>
        {% endif %}
        <div class="container">
        <div class="list-group">
        <table class="bottomBorder">
        <tr>
        <th ALIGN=LEFT>Model Name/Number</th>
        <th ALIGN=LEFT>Brand</th>
        <th ALIGN=LEFT>Category</th>
        <th ALIGN=LEFT>Stars</th>
        <th ALIGN=LEFT>Comment</th>
        </tr>
        {% for model in object_list %}
            <tr>
            <td NOWRAP><a href="{{ model.get_absolute_url }}">{{ model.cTitle }}</a></td>
            <td NOWRAP><a href="{{ model.iBrand.get_absolute_url }}/">{{ model.iBrand }}</a></td>
            <td NOWRAP><a href="{{ model.iCategory.get_absolute_url }}/">{{ model.iCategory }}</td>
            <td>{{ model.iStars}}</td>
            <td>{{ model.cComment|getDashForReturn|truncatechars:45}}</td>
            </tr>
        {% endfor %}
        </table>
        </div>
        </div>
        {# the pagination section #}
        {% if is_paginated %}
            <hr>
            <div class="basic">
                {% include "../paginate.html" %}
            </div>
        {% endif %}
    {% else %} <!-- brand_list -->
        <p>No models are available.</p>
    {% endif %} <!-- brand_list -->

    {% include "./add_search.html" %}

{% endblock content %}
